/*===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');  /*fuentes*/

body {
    /*font-family: 'Montserrat', sans-serif;    */
    overflow-x: hidden;

    /*overflow-x: hidden; 
    La propiedad de desbordamiento de CSS controla lo que sucede con el contenido 
    que es demasiado grande para caber en un área.
    - overflow-x : desbordamiento horizontal*/
}


/*===================MENU==========================*/

#menu a, button{
    font-size: 18px !important;
    font-weight: 600;
   
}

#menu li > a{
    font-size: 18px;
    font-weight: bold;
    color:#3f3f3f;
    
}

#menu form > button{
    font-size: 18px;
    font-weight: bold;
}

.nav-img{
    width: 100px;
    height: 100px;
}


/*================== MENU 2 =======================*/
li a{
    width: auto;
}



/*===================carousel======================*/
/*
.carousel .carousel-indicators button{
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}
*/

.carousel-inner{
    max-height: 39rem;  /*para que la imagenes se agranden a pantalla grande  y se achique a pantalla chica*/
    
}

/*===================main ==========================*/

main > .container{
    padding: 30px 0;
}



/*===================Footer==========================*/

.footer-img{
    width: 150px;
    height: 150px;
}